a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
#nav {
  height: 64px;
  width: 100%;
  margin: 0 auto;
  background: rgba(0,0,0,0.12);
}
p {
  margin-left: 12px;
}
a.filter_control{
	margin: 5px;
}

#legend { 
  float: left;
  clear: left;
  margin: 80px 200px 0 12px;
}
#legend .item {
  float: left;
  margin-right: 10px;
}
#legend .color {
  height: 10px;
  width: 10px;
  opacity: 0.7;
}
#legend div {
  display: inline-block;
  margin: 0 2px;
}
.widgets {
  margin: 0 4% 0 0;
  /*height: 120px;*/
}
.widgets h3 {
  float: left;
  margin: 12px 0 0 12px;
}
.widget {
  margin-top: 4px;
  padding: 2px 8px;
  height: 36px;
  line-height: 11px;
  font-size: 11px;
  text-align: center;
  float: right;
}
.info {
  margin: 12px;
  line-height: 20px;
  float: right;
}
.right {
  float: right;
}
.left {
  float: left;
}
.gone {
  display: none;
}
.intro {
  font-size: 13px;
  line-height: 1.3em;
  margin: 6px 0 0 12px;
}

/* Pie Charts */
#pie {
  opacity: 0.8;
}
#totals .in {
  fill: #888;
}
#totals .out {
  fill: #ccc;
}

/*SlickGrid */
#myGrid {
  width: 100% !important;  /* vs jquery resizable */
  height: 260px;
}
.slick-header-column {
  font-weight:bold;
  cursor: move;
  border-right: 1px solid #bbb !important;
}
.slick-cell {
  border: none !important;
}
.slick-row.odd {
  background: rgba(0,0,0,0.05);
}
.slick-row {
  height: 24px !important;
  line-height: 24px;
}
.slick-row:hover {
  background: #ddd;
}
.slick-resizable-handle {
  background: rgba(0,0,0,0.03);
  width: 8px;
}

/* Parallel Coordinates */
#parallel-coordinates {
  position: relative;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
#parallel-coordinates canvas {
  position: absolute;
}
#parallel-coordinates .axis,
#parallel-coordinates .axis-data,
#parallel-coordinates .axis-filter {
  position: absolute;
  display: block;
}
#parallel-coordinates .axis {
  width: 40px;
  background: rgba(55,55,255,0);
  -webkit-transition: background 300ms ease-in 200ms;
  -moz-transition: background 300ms ease-in 200ms;
  -o-transition: background 300ms ease-in 200ms;
  transition: background 300ms ease-in 200ms;
}
#parallel-coordinates .axis:hover {
  background: rgba(55,55,55,0.2);
}
#gray {
  color: #888;
}
.axis-data {
  z-index: 9;
}
.axis-filter {
  left: 12px;
  width: 16px;
  z-index: 10;
}
.axis-filter.active {
  background: rgba(55,55,55,0.3);
}
/* SVG Paralllel Coordinates */
#parallel {
  width: 100%;  /* vs jquery resizable */
  height: 220px;
  margin: 0 auto;
  margin-bottom: 20px;
}
#parallel svg {
  font: 10px sans-serif;
}

.background path {
  display: none;
  fill: none;
  stroke: #d4d4d4;
  stroke-opacity: 1;
  shape-rendering: crispEdges;
}

.foreground path,
.highlight path {
  fill: none;
  stroke: darkolivegreen;
  stroke-width: 1.5;
  stroke-opacity: .2;
}

.highlight path {
  stroke-opacity: 1;
}

.brush .extent {
  fill-opacity: .2;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.axis line, .axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  opacity: 1;
  cursor: move;
}
text.axis-label {
	color:#fff;
	opacity:1;
}

.dimension {
  background: blue;
}

/* jquery resizable */
.ui-resizable {
  padding-bottom: 10px;
  position: relative;
}
.ui-resizable-handle {
  background: rgba(0,0,0,0.05);
}
.ui-resizable-s {
  height: 10px;
  width: 100%;
  cursor: s-resize;
  position: absolute;
  bottom: 0px;
}

/* no ticks */
.no_ticks #parallel .axis g {
  display: none;
}

/* no background lines */
.shadows .background path {
  display: inherit;
}
