
 .viewport {
    width: 560px;
        height: 600px;
        
    }
    .thumbList {
       width: 560px;
       /*  height: 600px; */
        float: left;
        margin: 20px;
    }



#comparator{
min-width:1220px;	
min-height:900px;
width:100%;
}

#control_box, #mutant_box {
	display: inline;
	border: #ddd 2px solid; color: #666;
}

#control_box{
	clear: right;
	/*  height: auto;
     width: auto; */
	
}

#mutant_box{
	float: right;
	/* height: 400px;
    width: 500px; */
}

.half_box_left{
	width: 49.6%;
	height: 400px;
    height: auto;
    /* width: auto; */
	float: left;
}

.half_box_right{
	width: 49.6%;
	/*  height: 400px; */
       /*  width: 500px; */
	float: right;
}

.full_box{
	width: 100%;
	height: 100%;
	float: left;
}

.no_box{
	float: left;
	display: none;
}

#control_frame, #mutant_frame {
	height: 400px;
    width: 500px;
	display: inline;
}

.full_frame{
	width: 1200px;
	height:1000px;
}

.annotation{
	border: #ddd 2px solid; color: #666;
	text-align: center;
	color: #0978a1;
	clear: both;
	height:auto;
}
.thumblist{
	width:100%;
}

.img_selected{
	z-index: 2;
	opacity: 0.5;
}

.clickbox_male{
	background:#0978a1;
	/* float: left; */
	display: inline-block
}

.clickbox_female{
	background:#EF7B0B;
	/* float: left; */
	display: inline-block
}

.clickbox_no_sex{
	background:#c2c2c2;
	/* float: left; */
	display: inline-block
}
