.viewport {
    height: 600px;
    margin: auto;
}

.weblitz-viewport-vp {
    left: 0px;
}

#control_frame, #mutant_frame {
    height: 400px;
    width: 500px;
    display: inline;
}

.full_frame {
    width: 1200px;
    height: 1000px;
}

.thumblist {
    width: 100%;
}

.img_selected {
    z-index: 2;
    border-color: #9E1B00;
    border-width: 2px;

}

.image {
    color: #000;
    background-color: #fff;
    border-top-width: 4px;
    padding: 0;
}

img {
    width: 100%;
}

.card.image .card-body, .card.image .card-body p {
    padding: 2px !important;
    margin: 0 !important;
}

#control_box {
    border-right: 1px solid #6C757D;
}