<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
	    <layout class="ch.qos.logback.classic.PatternLayout">
		<Pattern>
			%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n
		</Pattern>
	    </layout>
	</appender>

	<logger name="org.springframework" level="WARN" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="org.apache.tomcat.jdbc.pool" level="WARN" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

 <logger name="org.hibernate" level="WARN" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="org.mousephenotype.cda.solr" level="WARN" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>



	<logger name="logging.level.org.mousephenotype.cda.seleniumtests" level="info" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>



	<root level="info">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>