/* Additional styling written at EBI */


/* EBI icons font */
@font-face {
	font-family: 'EBI-Species';
	src:    url('../fonts/EBI-Species.eot?mscl4l');
	src:    url('../fonts/EBI-Species.eot?mscl4l#iefix') format('embedded-opentype'),
	url('../fonts/EBI-Species.ttf?mscl4l') format('truetype'),
	url('../fonts/EBI-Species.woff?mscl4l') format('woff'),
	url('../fonts/EBI-Species.svg?mscl4l#EBI-Species') format('svg');

	/*src:    url('http://www.ebi.ac.uk/web_guidelines//fonts/EBI-Species.eot?mscl4l');*/
	/*src:    url('http://www.ebi.ac.uk/web_guidelines//fonts/EBI-Species.eot?mscl4l#iefix') format('embedded-opentype'),*/
	/*url('http://www.ebi.ac.uk/web_guidelines//fonts/EBI-Species.ttf?mscl4l') format('truetype'),*/
	/*url('http://www.ebi.ac.uk/web_guidelines//fonts/EBI-Species.woff?mscl4l') format('woff'),*/
	/*url('http://www.ebi.ac.uk/web_guidelines/fonts/EBI-Species/fonts/EBI-Species.svg?mscl4l#EBI-Species') format('svg');*/
	font-weight: normal;
	font-style: normal;
}
.icon-human:before {
	content: "\48";
}
.icon-mouse:before {
	content: "\4d";
}
[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'EBI-Species' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Enable Ligatures ================ */
	letter-spacing: 0;
	-webkit-font-feature-settings: "liga";
	-moz-font-feature-settings: "liga=1";
	-moz-font-feature-settings: "liga";
	-ms-font-feature-settings: "liga" 1;
	-o-font-feature-settings: "liga";
	font-feature-settings: "liga";

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}



.green {
	fill:rgb(36, 139, 75);
	color:rgb(36, 139, 75);
}

.red {
	fill:rgb(191, 75, 50);
	color: rgb(191, 75, 50);
}
.forest {
	fill:#16532D;
	color:#16532D;
}
.blue {
	fill:#0978A1;
	color:#0978A1;
}
.yellow {
	fill:rgb(255, 201, 67);
	color:rgb(255, 201, 67);
}
.mustard {
	fill:rgb(191, 151, 50);
	color:rgb(191, 151, 50);
	background:red;
}


.significant_pc {
	fill: rgb(239, 123, 11);
	font-weight:bold;
}

.significant_pc:before {
	content:"• ";
}

.venntooltip {
	position: absolute;
	text-align: center;
	width: 128px;
	height: 16px;
	background: #333;
	color: #ddd;
	padding: 2px;
	border: 0px;
	border-radius: 8px;
	opacity: 0;
}

.twocolumns{
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
	-moz-column-count: 2; /* Firefox */
	column-count: 2;
}

.hidden{
	display:none;
}

a.bluelink 	{
	color: #0978a1;
}

.legendCells {
	cursor: pointer;
}

.legendCellInactive{
	fill: grey;
}

text.legendLabels {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
}

text.axis-label {
	fill: #0978a1;
}

h3 a {
	color: #0978a1;
}
.buttonForHighcharts{
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight:bold;
	float:right;
	color:black;
	margin-left:2em;
	text-decoration: none;
}

.buttonForHighcharts i{
	background:rgb(9, 120, 161);
	color:white;
	margin:auto;
	width:1.5em;
}

.quarter {
	width:25%;
	float: left;
}
.float-left {
	float: left;
}
.node text.treeLabel{
	font-size: 12px;
	cursor: pointer;
}
.preQcLink i{
	text-align:center;color: red; /*#EF7B0B;*/
}
.preQcLink a{
	text-align:center;color: red; /*#EF7B0B;*/
}
.postQcLink{
	text-align:center;
}
.marginup{
	margin-top:0.5em;
}

.capitalize {
    text-transform: capitalize;
}

.credit {
	font-size:12px;
}
#pfam{
	overflow-x:auto;
	width:100%;
	height:3.5em;
}
.alleleCassette{
	max-height:3.5em;
}
.inline-block{
	display:inline-block;
}

div.paddingLeftMedium{
	padding-left: 0.5em;
}
div.paddingRightMedium{
	padding-right: 0.5em;
}

table.dataTable thead .sorting {
  background: url("../js/vendor/DataTables-1.10.4/media/images/sort_both.png") no-repeat center right;
}

table.dataTable thead .sorting_asc {
  background: url("../js/vendor/DataTables-1.10.4/media/images/sort_asc.png") no-repeat center right;
}

table.dataTable thead .sorting_desc {
  background: url("../js/vendor/DataTables-1.10.4/media/images/sort_desc.png") no-repeat center right;
}

p.chartTitle{
	margin:auto;
	text-align: center;
	color: black;
	font-size: 1.4em;
}
p.chartSubtitle{
	margin:auto;
	text-align: center;
	color: black;
	font-size: 1em;
}

.hitMap td{
	border-bottom: #efefef 1px solid;
	border-top: #efefef 1px solid;
	border-left:#efefef 2px solid;
}

.hitMap{
	table-layout:fixed;
	width: 100%;
}

div.table_legend_color {
	float: left;
	margin-left: 1rem;
	width: 2rem;
	height: 2rem;
}
div.table_legend_key{
	display: block;
	padding-right: 1rem;
}
.pagination ul {
  list-style-type: none;
}

form.no-style{
	border:none;
	padding:initial;
}
.filtersMoreLikeNicolas.open{
	display: block;
	max-height:18em;
}
.filtertype_add{
	white-space:nowrap;
}
.filtertype_add.open{
	background:white;
}
.tablefilter_add{
	width: 21%;
	text-wrap:none;
}
.filtertype:before {
	margin-right: 0.5em;
	}
.filtersMoreLikeNicolas {
	margin-left: -2px;
	padding: 0.5em;
	border: #eee 1px solid;
	border-top: none;
	border-radius: 0 3px 3px 3px;
	-webkit-border-radius: 0 3px 3px 3px;
	-moz-border-radius: 0 3px 3px 3px;
	-ms-border-radius: 0 3px 3px 3px;
	-o-border-radius: 0 3px 3px 3px;
	overflow: auto;
	display: none;
	background: white;
	min-width: 21%;
	white-space:nowrap;
}
.ui-dropdownchecklist-item {
	margin: 0;
	padding: 0.3em 0;
	cursor: pointer !important;
}
.ui-dropdownchecklist-item label {
	cursor: pointer;
	}
.ui-dropdownchecklist-item input[type="checkbox"] {
	margin-right: 0.5em;
	}
#other_procedures{
 	display:none;
 }

button.gridDump {
	font-size: 11px;
	background: none;
	border: none;
	color: #0978A1;
  cursor: pointer;
  text-decoration: underline;
}

button.exportButton{
	font-size:14px;
}

.abnormalities .no-sprite  { position: absolute; width: 40px; height: 40px;}
.abnormalities .sprite_NA  { position: absolute; width: 0px; height: 0px;}
.abnormalities .sprite_mortality_aging { margin: 0px 0px 0px 0px; background-position: 0px 0px; }
.abnormalities .sprite_embryo_phenotype { margin: 0px 0px 0px 40px; background-position: -40px 0px; }
.abnormalities .sprite_reproductive_system_phenotype { margin: 0px 0px 0px 80px; background-position: -80px 0px; }
.abnormalities .sprite_growth_size_body_region_phenotype { margin: 0px 0px 0px 120px; background-position: -120px 0px; }

.abnormalities .sprite_row_growth_size_body_region_phenotype { background-position: -120px 0px;  }

.abnormalities .sprite_homeostasis_metabolism_phenotype_or_adipose_tissue_phenotype { margin: 0px 0px 0px 160px; background-position: -160px 0px; }

.abnormalities .sprite_behavior_neurological_phenotype_or_nervous_system_phenotype { margin: 40px 0px 0px 0px; background-position: 0px -40px; }
.abnormalities .sprite_cardiovascular_system_phenotype { margin: 40px 0px 0px 40px; background-position: -40px -40px; }
.abnormalities .sprite_respiratory_system_phenotype { margin: 40px 0px 0px 80px; background-position: -80px -40px; }
.abnormalities .sprite_digestive_alimentary_phenotype_or_liver_biliary_system_phenotype { margin: 40px 0px 0px 120px; background-position: -120px -40px; }
.abnormalities .sprite_renal_urinary_system_phenotype { margin: 40px 0px 0px 160px; background-position: -160px -40px; }

.abnormalities .sprite_limbs_digits_tail_phenotype { margin: 80px 0px 0px 0px; background-position: 0px -80px; }
.abnormalities .sprite_skeleton_phenotype { margin: 80px 0px 0px 40px; background-position: -40px -80px; }
.abnormalities .sprite_immune_system_phenotype_or_hematopoietic_system_phenotype { margin: 80px 0px 0px 80px; background-position: -80px -80px; }
.abnormalities .sprite_muscle_phenotype { margin: 80px 0px 0px 120px; background-position: -120px -80px; }
.abnormalities .sprite_integument_phenotype_or_pigmentation_phenotype { margin: 80px 0px 0px 160px; background-position: -160px -80px; }

.abnormalities .sprite_craniofacial_phenotype { margin: 120px 0px 0px 0px; background-position: 0px -120px; }
.abnormalities .sprite_hearing_vestibular_ear_phenotype { margin: 120px 0px 0px 40px; background-position: -40px -120px; }
.abnormalities .sprite_taste_olfaction_phenotype { margin: 120px 0px 0px 80px; background-position: -80px -120px; }
.abnormalities .sprite_endocrine_exocrine_gland_phenotype { margin: 120px 0px 0px 120px; background-position: -120px -120px; }
.abnormalities .sprite_vision_eye_phenotype { margin: 120px 0px 0px 160px; background-position: -160px -120px; }




/* need sprites for table rows instead of block */

.row_abnormalities .sprite_row_mortality_aging { background-position: 0px 0px; }
.row_abnormalities .sprite_row_embryo_phenotype {  background-position: -40px 0px; }
.row_abnormalities .sprite_row_reproductive_system_phenotype { background-position: -80px 0px; }
.row_abnormalities .sprite_row_growth_size_body_region_phenotype { background-position: -120px 0px; }

.row_abnormalities .sprite_row_row_growth_size_body_region_phenotype { background-position: -120px 0px;  }

.row_abnormalities .sprite_row_homeostasis_metabolism_phenotype_or_adipose_tissue_phenotype { background-position: -160px 0px; }

.row_abnormalities .sprite_row_behavior_neurological_phenotype_or_nervous_system_phenotype { background-position: 0px -40px; }
.row_abnormalities .sprite_row_cardiovascular_system_phenotype { background-position: -40px -40px; }
.row_abnormalities .sprite_row_respiratory_system_phenotype { background-position: -80px -40px; }
.row_abnormalities .sprite_row_digestive_alimentary_phenotype_or_liver_biliary_system_phenotype { background-position: -120px -40px; }
.row_abnormalities .sprite_row_renal_urinary_system_phenotype {background-position: -160px -40px; }

.row_abnormalities .sprite_row_limbs_digits_tail_phenotype {  background-position: 0px -80px; }
.row_abnormalities .sprite_row_skeleton_phenotype {  background-position: -40px -80px; }
.row_abnormalities .sprite_row_immune_system_phenotype_or_hematopoietic_system_phenotype {  background-position: -80px -80px; }
.row_abnormalities .sprite_row_muscle_phenotype {  background-position: -120px -80px; }
.row_abnormalities .sprite_row_integument_phenotype_or_pigmentation_phenotype {  background-position: -160px -80px; }

.row_abnormalities .sprite_row_craniofacial_phenotype {  background-position: 0px -120px; }
.row_abnormalities .sprite_row_hearing_vestibular_ear_phenotype { background-position: -40px -120px; }
.row_abnormalities .sprite_row_taste_olfaction_phenotype {  background-position: -80px -120px; }
.row_abnormalities .sprite_row_endocrine_exocrine_gland_phenotype {  background-position: -120px -120px; }
.row_abnormalities .sprite_row_vision_eye_phenotype { background-position: -160px -120px; }

#spin-overview-charts, #single-chart-div{
	width: 100%;
	height: 400px;
	position: absolute;
	top: 0;
	left: 0;
}

#chart-container {
	width: 100%;
 height: 400px;
  position: relative;
}

#single-chart-div{min-width: 400px; height: 400px; margin: 0 auto;}

/* Graph filter */
.filters                            { margin: 1em 0; padding: 1em; background: #f4f4f4; -moz-border-radius: 3px; -webkit-border-radius: 3px; -ms-border-radius: 3px; border-radius: 3px; }
.filter                             { float: left; padding-right: 2em; display:inline-block;}
.ftype                              { padding-left: 1em; cursor: pointer; }
.ftype:before                       { position: absolute; font-family: 'FontAwesome'; content: "\f0da"; margin-left: -1em; }
.filter.open .ftype:before          { content: "\f0d7"; }
.filter .foptions                   { display: none; padding-right: 1em; max-height: 120px; overflow-y: auto; }
.filter.open .foptions              { display: block; }
.foptions ul                        { list-style: none; padding-left: 0.8em; }

.status {
	margin-right:5pt;
}

#heatmap-container {
    height: 600px;
}
#phenodcc-heatmap-3 {
    height: 600px;
}
.smallerAlleleFont{
	font-size:80%;
	color:#aaa;
}
.overviewSelect{
	max-width: 100%;
}

.onethirdForPie               { float: left; width: 33%; }

img.thumbnailStyle{
	max-width: 145px; max-height: 200px; width:auto; height:auto;
}

td h4 a{
color:#0978a1
}

.embryo-caption		{ text-align: justify;  font-size: 0.8em;}

.pad10px {padding: 10px;}
