div#alleleRef_filter {
    float: left;
    clear: right;
}
table.dataTable span.highlight {
    background-color: yellow;
    font-weight: bold;
    color: black;
}
table#alleleRef {
    clear: left;
    margin-top: 20px;
}
table#alleleRef th:first-child {
    width: 150px !important;
}
table#alleleRef td:nth-child(2) {
    max-width: 110px;
}
table#alleleRef td:nth-child(3) {
    max-width: 50px !important;
}
table#alleleRef td:nth-child(4) {
    max-width: 40px !important;
}

table#alleleRef td {
    font-size: 14px !important;
}
.hideMe {
    display: none;
}
/*.showMe {*/
/*display: block;*/
/*}*/
ul li.showMe {
    list-style-type: solid circle !important;
}
.alleleToggle {
    cursor: pointer;
    font-size: 11px;
    font-weight: bold;
}
div.saveTable {
    margin-bottom: 30px;
    float: right;
    margin-right: 30px;
}