div#alleleRef {
    margin: 0 0 0 0 !important;
    padding: 0;
}
div.dataTables_filter {
    float: left;
    clear: right;
    margin: 0 0 8px -5px;
}
table.dataTable span.highlight {
    background-color: yellow;
    font-weight: bold;
    color: black;
}
table.dataTable {
    clear: left;
    margin: 20px 0;
}
/*table#alleleRef th:first-child {*/
    /*width: 150px !important;*/
/*}*/
/*table#alleleRef td:nth-child(2) {*/
    /*max-width: 110px;*/
/*}*/
/*table#alleleRef td:nth-child(3) {*/
    /*max-width: 50px !important;*/
/*}*/
/*table#alleleRef td:nth-child(4) {*/
    /*max-width: 40px !important;*/
/*}*/

table.dataTable td {
    font-size: 14px !important;
}

div.valToggle, div.alleleToggle {
    cursor: pointer;
    font-size: 11px;
    font-weight: bold;
    border: 1px solid grey;
    paddig: 0 3px;
    margin: 5px 0;
    width: 100px;
    text-align: center;
    border-radius: 4px;
}
div.saveTable {
    margin-top: -25px;
    float: right;
    font-size: 14px;
}
tr.hiddenMesh {
    display: none;
}
table.dataTable tr:nth-child(even) {
    background-color: #F2F2F2;
}
table.dataTable tr td {
    border-bottom: 1px solid lightgrey;
}
table.dataTable div.dataTables_length {
    padding-left: 5px;
}
div.innerData {
    padding: 0 0 0 10px;
    margin: 0;
    width: 100%;
}
div.innerData p {
    padding: 0;
    margin: 0;
}
/*div.meshTerms, div.abs {*/
div.valHide {
    display: none;
    margin-bottom: 10px;
}
p.author {
    font-weight: bold;
}
div.alleles {
    width: 100%;
    display:inline-block;
}
div.alleles, span.showMe {
    display:inline-block;
}
.hideMe {
    display: none;
}
ul.agency {
    margin: 0 0 0 50px;
    border: none;
    list-style: none;
}
table.dataTable thead tr {
   display: none;
}
table.dataTable > caption {
    background-color: lightgrey;
    padding: 2px;
    margin: 0;
}
table.dataTable > caption button {
    margin: 0 20px 0 10px;
    cursor: pointer;
}
div.dataTables_info, div#alleleRef_length, div#consortiumPapers_length {
    margin: 15px 0 10px 0 !important;
}