
/*
.gxaTableGrid tr{
	font-size:0.6em;
	height:1em;
	line-height:1em;
	padding: none;
}
.gxaHeatmapAnatomogramRow tr{
	font-size:0.6em;
	height:1em;
	line-height:1em;
	padding: none;
}

th.gxaVerticalHeaderCell {
	padding-bottom:20px;
}

.bordertop{
	border-top: 1px #ddd solid;
}

.csstransforms .rotated_cell{
	padding-bottom:20px;
	margin-bottom:20px;
}

.gxaTableGrid td{
	width:1em;
}

.gxaTableGrid td {
	padding:none;
}

.gxaHeatmapCell, .gxaShowCell {
	margin:none;
	padding:none;
}
*/