.tile {
    display: inline-block;
    font-weight: 400;
    text-transform: none;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    background-color: #fff;
    font-size: 1.8em;
    padding: 0 0;
    border-radius: 0.25rem;
}

.non-tested-tile {
    color: #6c757d;
    cursor: default !important;
}

.pheno-row {
    display: contents;
}

@media (min-width: 575px) {
    .pheno-row {
        display: flex;
    }
}

/*@media (min-width: 375px) {
    .page-nav-link-icon {
        font-size: 2.3em; }
    .portal-search__tabs a {
        width: 170px !important;
    }
}*/

@media (min-width: 768px) {
    .page-nav-link-icon {
        font-size: 2.3em; }
}

.page-nav-link-muted {
    font-weight: normal;
    text-decoration: none;
    display: block;
    font-size: smaller;
}

.vignette {
    margin-top: 40px;
    margin-bottom: 40px;
}

.vignette--image {
    width: 100%;
}

.page-nav-link {
    font-weight: normal;
    text-decoration: underline;
    text-decoration-color: #8e8e8e;
    color: black;
    display: block;
    font-size: smaller;
}

.page-nav-link:hover {
    color: black;
    text-decoration-color: black;
}

@media (min-width: 992px) {
    .page-nav-link-icon {
        font-size: 2.3em; }

}
@media (min-width: 1200px) {
    .page-nav-link-icon {
        font-size: 2.5em; }
}


.badge-pill {
    padding-right: 0.6em;
    padding-left: 0.6em;
    border-radius: 10rem;
}

.close-badge {
    font-size: 85%;
    cursor: pointer;
}

.filter-badge {
    font-size: smaller;
    font-weight: 400;
}

.selector-container {
    background-color: #b9c1c7;
    padding: 5px 15px;
}


.filters-container {
    background-color: #e5e9ec;
    padding: 5px 15px;
}

button[name="clearSearch"] > i::before{
    content: "\f00d";
}

.tile > .impc-sperm {
    margin-right: -10px;
}

.rotate90 {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    font-size: 10px;
}

.clickableRow:hover {
    background-color: #ed7b2538 !important;
    cursor: pointer;
}

.clickableRow > td:focus {
    outline-style: none;
}


.clickableRow > td {
    padding: 0 !important;
}


.clickableRow > td a {
    display: block;
    padding: 0.75rem;
    text-decoration: none;
    color: #2a2a2a;
    font-size: 16px;
}

.unClickableRow:hover {
    background-color: #ecececf5 !important;
    cursor: inherit !important;
    color: #2a2a2a;
}

.highcharts-title {
    font-family: "Roboto", sans-serif !important;
}

.details-row > td {
    border-left: 1px solid #ececec;
}

#creLineTable > tbody > .odd {
    background-color: #ececec;
}

#creLineTable > tbody > .even {
    background-color: #ececec;
}

.detail-view:hover {
    background-color: white !important;
}

.nav-item > .nav-link {
    font-size: 16px;
}

.allele-symbol {
    white-space: nowrap;
}

table.small > thead > tr > th, table.small > tbody > tr > td, table.small > tbody > tr > th {
    font-size: 14px !important;
    font-weight: 400 !important;
}

.page-content table th, .page-content table td {
    font-size: 16px !important;
    line-height: 1.5 !important;
    padding: .75rem !important;
    vertical-align: top !important;
    border-top: 1px solid #dee2e6 !important;
}

@media (max-width: 550px) {
    table.small > thead > tr > th, table.small > tbody > tr > td, table.small > tbody > tr > th {
        font-size: 16px !important;
        font-weight: 400 !important;
    }
}
