/* Additional styling written at EBI for gene heatmap for secondary projects*/

td {
    word-wrap: break-word;
    max-width: 50px !important;
}

.page-content table th, .page-content table td {
    font-size: 12px;
    line-height: 1.1;
}

.geneHeatMap {
    font-size: 80%;
}

.geneHeatmap td, th {
    padding: 0;
}

table, tr, td, th {
    word-wrap: break-word;
    text-align: center;
    padding: 0.25rem !important;
}

.geneHeatMap th {
    vertical-align: bottom;
}

.geneHeatMap th span.vertical {
    margin-bottom: 0px;
    writing-mode: vertical-lr;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: lr-tb;
    white-space: nowrap;
    word-wrap: break-word;
    padding: 0px 0px 30px 0px;
}

.geneHeatMap th:nth-child(n+4){
    padding: 0px !important;
    line-height: 0.5;
}

.hm-not-significant {
    background-color: #15a2b8;
    color: #15a2b8; /* we want text invisible but there so sorting works. */
    border: 1px solid #fff;
}

.hm-not-analysed {
    background-color: rgb(119, 119, 119);
    color: rgb(119, 119, 119);
    border: 1px solid #fff
}

.hm-significant {
    background-color: #ce6212;
    color: #ce6212;
    border: 1px solid #fff;
}

.hm-no-data {
    background-color: #c2c2c2;
    color: #c2c2c2;
    border: 1px solid #fff;
}
