/**
 * Styles for elements on the gene and disease pages, e.g. tables with tabs
 *
 * These definitions used to be inlined within genes.jsp. 
 * But some are also used on the disease pages, so a separate resource
 * file is now appropriate to avoid duplication.
 *
 */


li.showAdultImage {
    cursor: pointer;
}
div#expDataView, div#toggleWt {
    font-size: 12px;
    color: #0978a1;
    background-color: white;
    border: 0;
    border-radius: 4px;
    padding: 3px 5px;
    cursor: pointer;
}
div#expDataView {
    float: right;
    margin-bottom: 20px;
}
#svgHolder div div {
    z-index: 100;
}

span.direct {
    color: #698B22;
}

span.indirect {
    color: #CD8500;
}

div.ui-tabs {
    border: none;
    width: 100%;
}
div#exptabs > ul, div.phenotabs > ul {
    border: none;
    border-bottom: 1px solid #666;
    border-radius: 0;
    padding-bottom: 2px;
    margin-bottom: 0px;
    background: none;
    list-style-type: none;
}
div#exptabs > ul li, div.phenotabs > ul li {
    float: left;
    border: none;
    background: none;
    cursor: pointer;
}

div#exptabs > ul li a, div.phenotabs > ul li a {
    margin: 0 0px -3px 20px;
    border: 1px solid grey;
    border-bottom: none;
    font-size: 14px;
    text-decoration: none;
    padding: 3px 8px;
    border-radius: 4px;
    color: gray;
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
}
#exptabs .ui-tabs-active, .phenotabs .ui-tabs-active, .phenotabs .ui-state-default {
    border: none;
    background: none;
}
#exptabs .ui-tabs-active > a, .phenotabs .ui-tabs-active a {
    border-bottom: 4px solid white;
    color: black;
}
.ui-tabs-panel {
    margin-top: 10px;
}
div#exptabs > ul li a:hover, div.phenotabs > ul li a:hover {
    background: none;
}

.acontainer {
    height: auto;
    overflow: hidden;
}

.aright {
    width: 200px;
    float: left;
    text-align: center;
    margin-top: -45px;
}

.aleft {
    float: none;
    background: white;
    width: auto;
    overflow: hidden;
    margin-top: 0px;
    margin-left: 250px;
}


td.showAdultImage:hover {
    color: #E2701E !important;
}

/* override the anatomogram .ui-widget font */

div.ui-dropdownchecklist-item, div.phenotabs.ui-widget, div#exptabs.ui-widget {
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    font-size: 1.0em;
    color: #333;
}

div.ui-dropdownchecklist-dropcontainer.ui-widget-content {
    border: none;
}

div.ui-dropdownchecklist-dropcontainer-wrapper.ui-widget.filtersMoreLikeNicolas {
    overflow: auto;
    min-width: 21%;
    max-height: 18em;
    white-space: nowrap;
    margin: 0 0 0 -1px;
    border: none;
}


div.ui-dropdownchecklist-selector {
    background: none;
    background-color: lightgray;
    border: none;
}
div.ui-dropdownchecklist-selector:hover {
    background-color: white;
    border: none;
}

div.ui-dropdownchecklist-item.ui-state-default {
    background: none;
    border: none;
    font-weight: normal;
    padding: 5px 10px;
}

div#genes_wrapper th, div.phenotabs th, div#exptabs th, div#allele2 th,
div#genes_wrapper td, div.phenotabs td, div#exptabs td, div#allele2 td {
    color: #666;
    padding: 0.5em 0.7em 0.5em 0.2em;

}
div.phenotabs a, div#exptabs a {
    color: #0978a1;
}
div.phenotabs div.dataTables_paginate li a {
    color: #666;
}
div.phenotabs div.dataTables_paginate a:hover {
    color: white;
}
div.phenotabs div.dataTables_paginate li.active a {
    color: white;
}
div.gxaAnatomogram {
    margin-top: 50px;
}
ul#expList td.mahighlight {
    color: #E2701E;
}

#fancybox-close {
    position: absolute;
    top: -15px;
    right: -15px;
    width: 30px;
    height: 30px;
    background: transparent url('fancybox.png') -40px 0px;
    cursor: pointer;
    z-index: 51103;
    display: none;
}
#anatomogramContainer {
    margin-top: 10px;
}


form.no-style{
    border:none;
    padding:initial;
}
.filtersMoreLikeNicolas.open{
    display: block;
    max-height:18em;
}
.filtertype_add{
    white-space:nowrap;
}
.filtertype_add.open{
    background:white;
}
.tablefilter_add{
    width: 21%;
    text-wrap:none;
}
.filtertype:before {
    margin-right: 0.5em;
}
.filtersMoreLikeNicolas {
    margin-left: -2px;
    padding: 0.5em;
    border: #eee 1px solid;
    border-top: none;
    border-radius: 0 3px 3px 3px;
    -webkit-border-radius: 0 3px 3px 3px;
    -moz-border-radius: 0 3px 3px 3px;
    -ms-border-radius: 0 3px 3px 3px;
    -o-border-radius: 0 3px 3px 3px;
    overflow: auto;
    display: none;
    background: white;
    min-width: 21%;
    white-space:nowrap;
}
.ui-dropdownchecklist-item {
    margin: 0;
    padding: 0.3em 0;
    cursor: pointer !important;
}
.ui-dropdownchecklist-item label {
    cursor: pointer;
}
.ui-dropdownchecklist-item input[type="checkbox"] {
    margin-right: 0.5em;
}

/* Table Filtering */
.tablefiltering         { background: #eee; padding: 1em; margin: 1em 0; }
.tablefilter            { display: inline-block; float: left; margin-right: 1.8em; border: #fff 1px solid; }
.tablefilter:hover      { background: #fff; }
.filtertype             { cursor: pointer; font-size: 1.2em; padding: 0.5em; }
.filtertype:before      { font-family: "Font Awesome 5 Pro"; content: "\f0da"; }
.filtertype.open:before { content: "\f0d7"; }
.filteroptions          { display: none; padding: 0.5em; }
.filteroptions.open     { display: block; }
.filteroptions ul       { padding-left: 0; }
.filteroptions li       { list-style: none; }
