table.x-grid-table tr:nth-child(2) {
	cursor: default !important;
}

.jstree-anchor a{
	color: black;
	font-size: 12px;
}

div.breadcrumb {
	margin-top: -24px;
	font-size: 12.8px;
	font-weight: 400;
}

input#s {
	line-height: 16px;
	height: 20px !important;
}

div#tree {
	margin-top: 10px;
}

.x-grid-tree-loading .x-tree-icon {
	background-image: url("../js/vendor/extjs-4.1.3/loading.gif");
}

.x-grid-tree-node-expanded .x-tree-icon-parent {
	background-image: url("../js/vendor/extjs-4.1.3/folder-open.giff");
}

.x-tree-icon-leaf {
	/*we need this one*/
	/*background-image: url("js/vendor/extjs-4.1.3/leaf.gif");*/
	background-size: 16px 16px;
}

.x-tree-icon-parent {
	/* we need this one */
	/*background-image: url("js/vendor/extjs-4.1.3/folder.gif");*/
	
}

.x-tree-lines .x-tree-elbow-line {
	background-image: url("../js/vendor/extjs-4.1.3/elbow-line.gif");
}

.x-tree-lines .x-grid-tree-node-expanded .x-tree-elbow-plus {
	background-image: url("../js/vendor/extjs-4.1.3/elbow-minus.gif");
}

.x-tree-lines .x-tree-elbow {
	background-image: url("../js/vendor/extjs-4.1.3/elbow.gif");
}

.x-tree-lines .x-tree-elbow-end {
	background-image: url("../js/vendor/extjs-4.1.3/elbow-end.gif");
}

.x-tree-lines .x-tree-elbow-plus {
	background-image: url("../js/vendor/extjs-4.1.3/elbow-plus.gif");
}

.x-tree-lines .x-tree-elbow-end-plus {
	background-image: url("../js/vendor/extjs-4.1.3/elbow-end-plus.gif");
}

.x-tree-lines .x-grid-tree-node-expanded .x-tree-elbow-end-plus {
	background-image: url("../js/vendor/extjs-4.1.3/elbow-end-minus.gif");
}

.x-grid-header-hidden .x-grid-body {
	border-top-color: none;
}

div#headercontainer-1010 {
	border: none;
	background: none;
}

div#treepanel-1009_header {
	background: none;
	border: none;
	display: none;
}

div#treepanel-1009-body {
	border: none;
	/*border-radius: 5px;*/
	padding: 20px;
}

span.qryTerm {
	background-color: #0978a1;
	color: white;
	padding: 5px;
}

div.x-grid-cell-inner {
	font-size: 16px;
}

.x-grid-table td {
	padding: 5px;
}

td a {
	font-size: 14px;
	color: #0978A1;
}

ul.ui-autocomplete li {
	padding: 3px;
	font-size: 12px;
}
#ontotree {
	font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
	font-size: 25px;
	font-weight: 300;
	color: rgb(51, 51, 51);
	letter-spacing: -1px;
	line-height: 40px;
	margin-top: 35px;
}
