/* autocomplete drop down ul */
ul.ui-autocomplete {
	background-color: white;
	border: 1px solid #0978A1;
	padding: 10px 15px;
	z-index: 999;

}
ul.ui-autocomplete li a {
	display: block;
	text-decoration: none;
	padding-left: 5px;
}
ul.ui-autocomplete li {
	font-size: 14px !important;
}
ul.ui-autocomplete li a:hover {
	background-color: #D4D4D4 !important;
	border-radius: 4px;
}
span#rmFilters {
	color: #0978A1;
	padding-right: 5px;
}

span.ui-helper-hidden-accessible {
	font-size: 14px;
}
span.gene, span.mp, span.anatomy, span.disease, span.hp {
	color: black;
}
b.sugTerm {
	color: #0978A1;
}
/* New Facet Block without IDs */
div.ffilter {
	display: none; /*default, appears only when filter is added */
	margin-bottom: 5px;
}
span.documentation a {
	float: right;
}
div.facetSrchMsg {
	margin-top: 10px;
	width: 75%;
}

/* facet - general */
.fblock                                 { position: relative; }
.region-sidebar-first .fblock .head     { background: #0978a1; color: #fff; }
.region-sidebar-first .fblock .content  { background: none; }
.flist li                               { cursor: pointer; }
.fcount                                 { font-size: 11px; float: right; }

/* facet - main categories */
.fmcat > .flabel                        { color: #0978A1; font-size: 1.4em; font-weight: 300; }
.fmcat > .flabel.grayout				{ color: #cccccc; }
.fmcat                                  { margin: 1em 0; }
.fmcat:before                           { font-family: 'FontAwesome'; content: "\f0da"; color: black; margin-right: 0.5em; }
.fmcat.open:before                      { content: "\f0d7"; }
.fmcat.open + .fmcat                    { margin-top: 2.5em; }
.fmcat .fcat,
.fmcat .fcatsection                     { display: none; }
.fmcat.open .fcat,
.fmcat.open .fcatsection                { display: block; }

/* facet - categorie headlines */
.fcatsection > .flabel                  { font-weight: 600;}
.fcatsection:before                     { font-family: 'FontAwesome'; content: "\f0da"; margin-right: 0.5em; }
.fcatsection.open:before                { content: "\f0d7"; }
.fcatsection                            { margin-top: 0.7em; }
.open .fcatsection .fcat,
.fcatsection .fcat                      { display: none; }
.fcatsection.open .fcat                 { display: block; }
.fcatsection.inactive                   { color: #bbb; }
.grayout {
	color: #CCCCCC;
}
li.fcat.grayout, li.fcat input.grayout {
	cursor: not-allowed;
}

/* facet - categories */
li.fcat                                 { margin: 0; font-size: 0.9em; line-height: 1.3em; }
.fcheckbox                              { margin: 0 0.5em 0 -1px; font-size: 0.9em; }

/* highlight checked facet label */
.highlight {
	background-color: #F2F2F2;
}


/* active facet filter */
ul#facetFilter > li                     { display: none; }
ul#facetFilter li.has-sub               { display: block; }
ul#facetFilter li.has-sub span.fcap {
	display: none;
	font-size: 11px;
}
ul#facetFilter li.has-sub + .has-sub    { margin-top: 0em; }
#resetFilter                            { opacity: 0.5; text-align: right; font-size: 11px; cursor: pointer; margin-top: 5px;}
#resetFilter:before                     { font-family: 'FontAwesome'; content: "\f00d"; margin-right: 0.3em; text-decoration: none; }
#resetFilter:hover                      { opacity: 1; }
.ftag {
	padding: 2px;
}
.ftag a {
	display: block;
	font-size: 11px;
	line-height: 1.1em;
	padding: 1px 0.3em;
	text-decoration: none;
	color: #fff;
	background: #0978A1;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
}
.ftag a:before                          { font-family: 'FontAwesome'; content: "\f00d"; margin-right: 0.3em; }
.ftag a:hover                           { background: #ddd; color: #666; }
.ffilter                                { background: #f4f4f4; padding: 0.5em; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; }


/* dataTable on search page */
div.dataTables_length {
	margin-left: 5px;
}
div.dataTables_info, div.dataTables_paginate {
	/*display: inline;	*/
}
div.dataTables_info {
	display: block;
	margin-bottom: 10px;
}

div#leftSideBar {
	padding-top: 5px;
}
.briefDocCap {
	padding: 1px;
	background-color: gray;
	text-align: center;
	margin-bottom:5px;
	color: white;
	font-weight: bold;
}
div.mpi2-search {
	margin-top: -29px;
}
div.mpi2-search .dataTable td a {
	margin-right: 5px !important;
}
span.status {
	margin-right: 5px !important;
}
span.imgAnnots {
	display: block;
}
span.annotType {
	font-weight: bold;
}
table#diseaseGrid th:nth-child(1) {
	width: 200px !important;
}
table#imagesGrid th:nth-child(1), table#impc_imagesGrid th:nth-child(1) {
	width: 35% !important;
}
/* end of dataTable on search page */


/* table tool */
div.saveTable{
	font-size: 16px;
	position: absolute;
	bottom: -50px;
	right: 0;
	margin-right: 0;
}
div#toolBox a.gridDump {
	font-size: 12px;
}

div.saveTable img {
	vertical-align: middle !important;
}
div.saveTable span {
	margin-left: 50px;
}

div.dataName {
	font-weight: bold;
	height: auto;
}
div#exportSpinner {
	float: left;
	color: #CC6600;
}

/* end of table tool */

div#tabs {
	margin-top: 15px;
	width: 100%;
	/*float: right;*/
}

ul.tabLabel{
	margin-left: 30px;
	margin-bottom: 0px;
	height: 27px;
	/*border-bottom: 1px solid grey;*/
}

ul.tabLabel li {
	float: left;
	height: 29px;
	margin: 0 0 0 5px;
	padding: 2px 0 0 0;
	visibility: hidden;
	border: 1px solid grey;
	border-bottom: none;
	border-radius: 5px 5px 0 0;
	background-color: #0978A1;
	/*cursor: pointer !important;*/
}

ul.tabLabel li a {
	padding: 2px 30px 2px 30px;
	color: white;
	text-decoration: none;
	font-weight: bold;
	font-size: 20px;
	vertical-align: middle;
	/*border: 1px solid red;*/
	cursor: pointer;
	display: block;
}

ul.tabLabel li:hover {
	background-color: rgb(144,195,212); /* light blue */
	/*color: white;*/
	/*color: grey;*/
	text-decoration: none;
	border: none;
}

.noData {
	color: grey !important;
	background-color: white !important;
	cursor: default !important;
}
li.noData:hover {
	border: 1px solid grey !important;
	border-bottom: none !important;
	background-color: white !important;
	cursor: default !important;
}

li.currDataType {
	background-color: white !important;
	/*border: 1px solid #0978A1 !important;*/
	/*border-bottom: 2px solid white !important;*/
	border: 2px solid #0978A1 !important;
	border-bottom: 2px solid white !important;
	/*padding-top: -2px !important;*/
}
li.currDataType a  {
	color: #0978A1 !important;
}
div#resultMsg {
	clear: both;
	margin-bottom: 20px;
	padding: 10px 0;
}

div#dTable_pagination, div#dTable_info {
	display: inline;
}
div#dTable_pagination {
	float: right;
}
.hideme {
	display: none;
	margin-top: 6px;
	padding: 30px 20px 20px 20px;
	border: 2px solid #0978A1;
	-webkit-border-radius:;
	-moz-border-radius:;
	border-radius: 5px;
}

.tabfc {
	font-weight: normal;
	font-size: 13px !important;
	padding: 0;
	margin: 2px 0 0 0;
	width: 100%;
	text-align: center;
}

/* imgView/annotView switcher */
div#imgView {
	margin-bottom: 10px;
}
span#imgViewSubTitle {
	font-weight: bold;
	font-size: 1em;
	color: gray;
}
span#imgViewSwitcher {
	font-size: 0.8em;
	color: grey;
	float: right;
	cursor: pointer;
}

/* end of imgView/annotView switcher */

/* Disease search results */
span.status.done {
	padding: 0.1em 0.4em;
	cursor: default !important;
}

/* Table Headings */
th span.main                        { white-space:nowrap; }
th span.sub                         { font-size: 0.8em; display: block;}
/* end of Disease search results */

div.dataTable {
	margin-top: 20px !important;
}
/* dataTable pagination styling */
span.ellipse {
	display: block;
	padding-top: 10px;
}

div.mpCol div.title a, div.anatomyCol div.title a {
	font-weight: normal !important;
	font-size: 16px !important;
	text-decoration: none !important;
}
span#dnld {
	font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif !important;
	color: gray !important;
}
span.dtype {
	color: gray;
}
span.hp2mp {
	color: #404040;
}
span.subMatch {
	color: gray;
	background-color: yellow;
}

div.subinfo ul li, span.imgAnnots ul li {
	margin-left: 20px;
	padding-left: 10px;
	background-image: url('../img/gray_bullet.jpg');
	background-repeat: no-repeat;
	background-position: 0px 50%;
}
span.label {
	color: gray;
}
span.showMore {
	margin-left: 18px;
	color: #0978A1;
	cursor: pointer;
	font-size: 11px;
}
span.viability, span.fertility {
	font-weight: bold;
}

/* deals with facet count being concatenated when window is resized */
li.fcat > span.flabel {
	max-width: 180px;
	display: inline-block;
	word-wrap:break-word !important;
}
li.fcat > input {
	vertical-align: top;
}
li.fcat:hover {
	background-color: #F2F2F2;
}

div#goBlock table {
	border: none !important;
	border-collapse: collapse;
	text-align: left;
}
div#goBlock table td {
	border: 1px solid lightgray;
	padding: 0 5px;
	align: center !important;

}
div.searchcontent {
	margin-top: -15px;
}
#bigsearchbox           {
	-webkit-border-radius:;
	-moz-border-radius:;
	border-radius: 5px;
	float: left;
	width: 915px;
	background-color: #0978A1;
	padding: 10px 5px 10px 10px;
}
#bigsearchbox input {
	width: 905px;
	height: 45px !important;
	padding: 0;
}
#bigsearchbox i#sicon { position: absolute; top: 14px;}
#bigsearchbox i#clearIcon {
	top: 27px;
}
i.searchExample {
	top: 22px;
}
#batchQryLink {
	display: block;
}

input.resetFilters {
	width: 100%;
	margin: 0 auto;
	background-color: #F2F2F2;
	font-weight: bold;
	padding: 5px;
	border: none;
	cursor: pointer;
}
input.facetFilterSubmit {
	width: 100%;
	margin: 0 auto;
	background-color: #0978A1;
	color: white;
	font-weight: bold;
	padding: 5px;
	border-radius: 0 0 4px 4px;
	border: none;
	box-shadow: none;
	cursor: pointer;
}
.block .head {
	font-size: 18px !important;
}

div.facet {
	top: 0px;
	margin-bottom: 50px;
	border: 1px solid lightgrey;
	padding: 20px;
	border-radius: 5px;
}
div.facet > .content {
	/*padding-top: 0;*/
}

div.flist ul li.fmcat {
	padding: 5px 0 0 0;
	margin: 0;
}

div.flist ul li.fmcat > .flabel {
	font-size: 18px !important;
	color: gray;
	font-weight: bold;
}
ul li.fcatsection span.flabel, ul li.fcat span.flabel {
	font-size: 14px !important;
	font-weight: normal !important;
}

div.flist ul > li.fmcat > .flabel, li.fcatsection > .flabel {
	color: black;
}

div.filterHint {
	vertical-align: middle;
	padding: 8px;
	font-size: 18px !important;
}
a.facetPanel {
	position: relative;
	top: 0px;
	font-size: 25px;
}

div.hideme > .region-content {
	float: right !important;
	top: 0px !important;
}
span.expdata {
	text-align: center;
}
div#anaSep {
	margin: 5px 0;
	width: 200px;
	height: 1px;
	border-bottom: 1px solid #777;
	display: none;
}
