.node circle {
  cursor: pointer;
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font-size: 11px;
  fill:rgb(9,120,161);
}

path.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}