<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- FRAMEWORK -->
    <logger name="ch.qos.logback"                                               level="WARN" />
    <logger name="org.apache.maven"                                             level="WARN" />
    <logger name="org.apache.tomcat.jdbc.pool"                                  level="${log.level:-WARN}" />
    <logger name="org.apache.tomcat.jdbc.pool.PooledConnection"                 level="${log.level:-ERROR}" />
    <logger name="org.hibernate"                                                level="${log.level:-WARN}" />
    <logger name="org.springframework"                                          level="WARN" />

    <!-- ONTOLOGY PARSING - loads-> org.mousephenotype.cda.loads.cdaloader -->
    <logger name="org.semanticweb.owlapi.rdf.rdfxml.parser"                     level="WARN" />
    <logger name="org.semanticweb.owlapi.util.SAXParsers"                       level="WARN" />
    <logger name="org.semanticweb.owlapi.io.AbstractOWLParser"                  level="WARN" />



    <!-- PHENOTYPE ARCHIVE -->
    <logger name="org.mousephenotype"                                           level="INFO"/>
   	<logger name="org.mousephenotype.cda.solr"                                  level="INFO" />
    <logger name="org.mousephenotype.cda.reports"                               level="INFO" />
   	<logger name="org.mousephenotype.cda.seleniumtests"                         level="INFO" />
    <logger name="org.mousephenotype.cda.utilities.HttpProxy"                   level="WARN" />
    <logger name="org.mousephenotype.cda.loads"                                 level="INFO" />

    <!-- OTHER -->
    <logger name="org.springframework.boot.autoconfigure.logging.AutoConfigurationReportLoggingInitializer" level="ERROR" />
    <!-- Suppress the annoying ConfigurationClassEnhancer warning (below). See https://jira.spring.io/browse/BATCH-2161
    2016-11-02 14:46:43.921  WARN 2611 [           main] o.s.c.a.ConfigurationClassEnhancer       :
        @Bean method ScopeConfiguration.stepScope is non-static and returns an object assignable to Spring's BeanFactoryPostProcessor interface.
        This will result in a failure to process annotations such as @Autowired, @Resource and @PostConstruct within the method's declaring
        @Configuration class. Add the 'static' modifier to this method to avoid these container lifecycle issues; see @Bean javadoc for complete details.
    -->
    <logger name="org.springframework.context.annotation.ConfigurationClassEnhancer" level="ERROR" />
    <logger name="org.semanticweb.owlapi.util.SAXParsers"                       level="ERROR" />

    <include resource="org/springframework/boot/logging/logback/base.xml"/>

</configuration>
