<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- FRAMEWORK -->
    <logger name="ch.qos.logback"                                               level="WARN" />
    <logger name="org.apache.maven"                                             level="WARN" />
    <logger name="org.apache.tomcat.jdbc.pool"                                  level="${log.level:-WARN}" />
    <logger name="org.apache.tomcat.jdbc.pool.PooledConnection"                 level="${log.level:-ERROR}" />
    <logger name="org.hibernate"                                                level="${log.level:-WARN}" />
    <logger name="org.springframework"                                          level="WARN" />

    <!-- ONTOLOGY PARSING - loads-> org.mousephenotype.cda.loads.cdaloader -->
    <logger name="org.semanticweb.owlapi.rdf.rdfxml.parser"                     level="WARN" />
    <logger name="org.semanticweb.owlapi.util.SAXParsers"                       level="WARN" />
    <logger name="org.semanticweb.owlapi.io.AbstractOWLParser"                  level="WARN" />



    <!-- PHENOTYPE ARCHIVE -->
    <logger name="org.mousephenotype"                                           level="INFO"/>
   	<logger name="org.mousephenotype.cda.solr"                                  level="INFO" />
    <logger name="org.mousephenotype.cda.reports"                               level="WARN" />
    <logger name="org.mousephenotype.cda.reports.ExtractValidateCdabaseReport"  level="INFO" />
    <logger name="org.mousephenotype.cda.reports.ExtractValidateDccReport"      level="INFO" />
    <logger name="org.mousephenotype.cda.reports.ExtractValidateImpressReport"  level="INFO" />
    <logger name="org.mousephenotype.cda.reports.LoadValidateCdaReportReport"   level="INFO" />
    <logger name="org.mousephenotype.cda.reports.LoadValidateMissingQuery"      level="INFO" />
   	<logger name="org.mousephenotype.cda.seleniumtests"                         level="INFO" />
    <logger name="org.mousephenotype.cda.utilities.HttpProxy"                   level="WARN" />
    <logger name="org.mousephenotype.cda.loads"                                 level="INFO" />
    <logger name="org.springframework.boot.autoconfigure.logging.AutoConfigurationReportLoggingInitializer" level="ERROR" />


    <logger name="org.semanticweb.owlapi.util.SAXParsers"                       level="ERROR" />

    <include resource="org/springframework/boot/logging/logback/base.xml"/>


</configuration>
