<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- FRAMEWORK -->
    <logger name="ch.qos.logback"                                               level="WARN" />
    <logger name="org.apache.tomcat.jdbc.pool"                                  level="${log.level:-WARN}" />
    <logger name="org.apache.tomcat.jdbc.pool.PooledConnection"                 level="${log.level:-ERROR}" />
    <logger name="org.hibernate"                                                level="${log.level:-WARN}" />
    <logger name="org.springframework"                                          level="INFO" />


    <!-- PHENOTYPE ARCHIVE -->
    <logger name="org.mousephenotype"                                           level="INFO"/>
   	<logger name="org.mousephenotype.cda.solr"                                  level="INFO" />
   	<logger name="org.mousephenotype.cda.seleniumtests"                         level="INFO" />


    <include resource="org/springframework/boot/logging/logback/base.xml"/>


</configuration>
